* {
  margin: 0;
  padding: 0;
}

:root {
  height: 100%;
  font-size: 14px;
  user-select: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 20px;
}